/*
 * @Author: sheikirfanbasha@gmail.com 
 * @Date: 2020-01-16 04:50:48 
 * @Last Modified by:   sheikirfanbasha@gmail.com 
 * @Last Modified time: 2020-01-16 04:50:48 
 */
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }